<html>
<div>
    <h1>
        Welcome to Health Check Application
    </h1>
</div>

<img class="img-responsive" src="assets/images/img3.jpg" width="1000" height="600">
<body>
    <a href='http://localhost:8501/'>
        <button class="button" type="submit" name="subm" id="subm">Health Check</button>
    </a>
    <!-- <button class="button" type="submit" name="subm" id="subm">Health Check</button> -->
</body>


  <!-- <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
  </html>
